.faq {
  padding: 50px 0;
}

.faq__container {
  max-width: 1055px;
}

.faq__accordion {
  border: none;

  .ant-collapse-item {
    border-bottom: 1px solid #e0e0e0;
  }
}

.faq__item {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px
}

.faq__question {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__answer {
  margin: 0;
  line-height: 1.6;
  color: #666
}
